:root {
  --color-main: black;
  --color-primary: #ff6000;
  /* --color-primary: #ff4400; */
  --color-white: #fffdfc;
  --grey-1: #f5f3f2;
  --grey-2: #ebe7e6;
  --grey-3: #595756;
}
* {
  box-sizing: border-box;
  font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica,
    helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  background: var(--off-white);
  font-size: 20px;
}

body {
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--color-main);
}

a {
  text-decoration: none;
}

h1,
h2 {
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.4;
  margin: 1em 0px;
}

button,
input,
textarea,
.Button {
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
input,
textarea {
  width: 100%;
  background: var(--grey-2);
  border-radius: 0.25rem;
  border: 0;
}

input:hover,
input:active,
input:focus,
textarea:active,
textarea:focus {
  background-color: var(--color-white);
  box-shadow: var(--color-primary) 0px 0px 0px 2px inset;
}

button,
.Button {
  background-color: var(--color-white);
  color: var(--color-main);
  border: none;
  border-radius: 0.25rem;
  box-shadow: var(--color-main) 0px 0px 0px 2px inset;

  cursor: pointer;

  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}

button:hover,
.Button:hover {
  background-color: var(--color-primary);
  box-shadow: var(--color-primary) 0px 0px 0px 2px inset;
  color: var(--color-white);
}

button:disabled,
button:hover:disabled {
  color: var(--grey-2);
  background-color: var(--color-white);
  box-shadow: var(--grey-2) 0px 0px 0px 2px inset;
  cursor: default;
}

.Link {
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-decoration: underline;
}

.Link:hover {
  color: var(--color-primary);
  background-color: var(--color-white);
  box-shadow: none;
  /* box-shadow: var(--color-primary) 0px 0px 0px 2px inset; */
}

label {
  margin-bottom: 1rem;
  color: var(--color-main);
  font-size: 1rem;
  display: block;
}

#root {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;

  padding: 14px;
}

.App > header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;

  color: var(--grey-3);

  box-shadow: inset 0 -4px 0 var(--grey-1);
}

.App > header h1 {
  color: var(--grey-3);
  margin: 0;
  padding: 0;
}

.Date {
  margin: 0 0 0 0;
}

.Container {
  background-color: var(--grey-1);
  margin-top: 2rem;
  padding: 1rem 1rem;
}

.Container:first-child {
  margin-top: 1.5rem;
}

.Container h1 {
  font-size: 1.8rem;
  color: var(--color-primary);
}

.Error {
  color: #c92813;
  font-weight: bold;
}

.Spinner h1 {
  color: var(--grey-3);
  border-bottom: 1px solid var(--grey-3);
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  padding-bottom: 0.5rem;
}

article h1 {
  margin-top: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-main);
}

/* Spinner CSS taken from: http://tobiasahlin.com/spinkit/ */
.Spinner {
  margin: auto 0;
  width: 100%;
  text-align: center;
  padding: 0 2rem 1rem 2rem;
}

.Spinner h1 {
  font-size: 1.5rem;
}

.Spinner > .bounce {
  width: 24px;
  height: 24px;
  margin-right: 24px;
  background-color: var(--color-primary);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.Spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.Spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
