.reveal {
  font-family: "PT Sans", sans-serif;
}

.reveal h1 {
  font-family: "Lora", serif;
}

.reveal h2,
.reveal h3,
.reveal h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: rgb(127, 94, 56);
  text-transform: none !important;
}

.reveal em {
  font-family: "Lora", serif;
}

.right-img {
  margin-left: 10px !important;
  float: right;
  height: 500px;
}

.todo:before {
  content: "TODO: ";
}

.todo {
  color: red !important;
}

code span.line-number {
  color: lightcoral;
}

.reveal pre {
  max-width: 1100px;
}

.reveal pre code {
  max-height: 1000px !important;
}

.reveal section img {
  border: 0;
  box-shadow: 0 0 0 0;
}

/*rgb(196, 215, 240)*/

html.exkurs body {
  background: rgb(252, 220, 185) url("ai/es6-icon.png") no-repeat right bottom;
}
