:root {
  --color-main: black;
  --color-primary: #ff4400;
  --color-white: #fffdfc;
  --grey-1: #f5f3f2;
  --grey-2: #ebe7e6;
  --grey-3: #595756;
}
* {
  box-sizing: border-box;
  font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica,
    helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  background: var(--off-white);
  font-size: 20px;
}

body {
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--color-main);
}

a {
  text-decoration: none;
}

h1,
h2 {
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.4;
}

button,
input,
textarea {
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
input,
textarea {
  width: 100%;
  background: var(--grey-2);
  border-radius: 0.25rem;
  border: 0;
}

input:hover,
input:active,
input:focus,
textarea:active,
textarea:focus {
  background-color: var(--color-white);
  box-shadow: var(--color-primary) 0px 0px 0px 2px inset;
}

button {
  background-color: var(--color-white);
  color: var(--color-main);
  border: none;
  border-radius: 0.25rem;
  box-shadow: var(--color-main) 0px 0px 0px 2px inset;

  cursor: pointer;

  padding: 0.5rem 1rem;
}

button:hover {
  background-color: var(--color-primary);
  box-shadow: var(--color-primary) 0px 0px 0px 2px inset;
  color: var(--color-white);
}

label {
  margin-bottom: 1rem;
  color: var(--color-main);
  font-size: 1rem;
  display: block;
}

.App {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;

  /* background-color: white; */
  padding: 14px;
}

.App > header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 1rem;

  color: var(--grey-3);

  box-shadow: inset 0 -4px 0 var(--grey-1);
}

.App > header h1 {
  color: var(--grey-3);
  margin: 0;
  padding: 0;
}

.Container {
  background-color: var(--grey-1);
  margin-top: 2rem;
  padding: 1rem 1rem;
}

.Container:first-child {
  margin-top: 1.5rem;
}

.Container h1 {
  font-size: 1.8rem;
  color: var(--color-primary);
}

article h1 {
  margin-top: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-main);
}
