* {
  box-sizing: border-box;
}

html {
  margin-top: 2rem;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  background-color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}

input {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 90%;
  color: rgba(0, 0, 0, 0.6);

  border: 1px solid rgba(255, 187, 120, 0.7);

  background-color: rgba(255, 187, 120, 0.5);
  box-shadow: 4px 4px 7px 0px rgba(208, 208, 208, 1);
}

input:focus {
  outline: none;
  border: 1px solid rgb(255, 187, 120);
  background-color: rgba(255, 187, 120, 0.3);
}

button {
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #2980b9;
  color: #e9e9e9;
  border: 0;
  box-shadow: 4px 4px 7px 0 rgba(208, 208, 208, 1);
}

button:hover {
  cursor: pointer;
  background-color: #4995c7;
}

button:disabled {
  color: rgba(233, 233, 233, 0.8);
  background-color: rgba(72, 148, 199, 0.8);
  cursor: default;
}

table {
  width: 100%;
  border-spacing: 0;

  box-shadow: 4px 4px 7px 0 rgba(208, 208, 208, 1);
}

thead {
  width: 100%;
  color: #fefff2;
}

th,
td {
  text-align: left;
  font-weight: normal;
  margin: 0;
  padding: 0.5rem;
  border: 0;
}

th {
  font-weight: 700;
  background-color: rgba(255, 127, 14, 0.7);
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

tr:nth-child(odd) {
  background-color: rgba(255, 187, 120, 0.7);
}

tr:nth-child(even) {
  background-color: rgba(255, 187, 120, 0.5);
}

table ~ button {
  margin-top: 1rem;
  margin-left: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.SelectableTable tbody tr {
  cursor: pointer;
}

.SelectableTable tbody tr:hover {
  background-color: rgba(255, 187, 120, 0.4);
}

table a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-weight: bold;
}

table a:hover {
  text-decoration: underline;
}

#mount {
  width: 700px;
  max-width: 700px;
  margin: 0 auto;
}

div {
  padding: 1rem;
  border: 2px solid rgba(72, 148, 199, 0.8);
  background-color: white;
}

div#mount {
  border: 0;
  margin: 0 auto;
  padding: 0;
  background-color: transparent;
}

.Left {
  width: 50%;
  float: left;
}

.Right {
  width: 50%;
  float: left;
}

.Title {
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: space-between;

  border-bottom: 3px solid rgba(255, 127, 14, 0.7);
  padding: 0 0 0.5rem 0;
  margin: 0 0 1.5rem;
}

h1 {
  flex: auto;
  margin: 0;
  padding: 0;
}

div.Counter {
  margin-top: auto;
}

div.FilterPanel {
  margin-top: 0.7rem;
  font-size: 15px;
}

div.FilterPanel a {
  cursor: pointer;
  text-decoration: underline;
}

.Filter h1 {
  font-size: 1.5rem;
  text-align: center;
}

/* http://nicolasgallagher.com/micro-clearfix-hack */
.Main:before,
.Main:after,
.Title:before,
.Title:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.Main:after,
.Title:after {
  clear: both;
}

/* Chart */
.nvtooltip,
.nvd3 text {
  font-size: 15px;
  fill: rgba(0, 0, 0, 0.6);
  font-family: "Lato", sans-serif;
}

.nvd3 .nv-legend .nv-series {
  cursor: default;
}

.nvd3 .nv-pie .nv-slice {
  cursor: pointer;
}

.nvtooltip table {
  width: auto;
  border-bottom: 0;
  box-shadow: none;
}

.nvtooltip tr {
  background-color: inherit;
}
