* {
    box-sizing: border-box;
}
html {
    margin-top: 2rem;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
    background-color: #F2F2F2;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
}

input {
    padding: 0.7rem;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);

    border: 1px solid rgba(255, 187, 120, 0.7);
    font: inherit;

    background-color: rgba(255, 187, 120, 0.5);
    box-shadow: 4px 4px 7px 0 rgba(208, 208, 208, 1);
}

input:focus {
    outline: none;
    border: 1px solid rgb(255, 187, 120);
    background-color: rgba(255, 187, 120, 0.3);

}

button {
    padding: 0.7rem;
    background-color: #2980B9;
    color: #E9E9E9;
    border: 0;
    font: inherit;
    box-shadow: 4px 4px 7px 0 rgba(208, 208, 208, 1);
}

button:hover {
    cursor: pointer;
    background-color: #4995C7;
}

p {
    padding: 0.7rem;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);

    border: 1px solid rgba(255, 187, 120, 0.7);

    box-shadow: 4px 4px 7px 0 rgba(208, 208, 208, 1);
}

#mount {
    border: 1px solid #E9E9E9;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 1.7rem;
    box-shadow: 5px 5px 8px 0 rgba(208, 208, 208, 1);
}
