.App {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;

  background-color: white;
  padding: 14px;
}

.App > header {
  margin: 0 0 20px;
  padding: 14px;

  color: #fff;
  background-color: #7f5e38;
}

.App > header h1 {
  color: #fff;
  margin: 0;
}
